.modal {
  background-color: rgb(185, 236, 227);
  margin: 2% auto;
  padding: 30px;
  border: 8px solid rgba(13, 82, 72, 0.411);
  width: 40%;
  cursor: auto;
  border-radius: 22px;
  align-items: center;
  z-index: 10;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.103);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:10;
}

button.submitB {
  background-color: rgb(34, 124, 128);
  border:none;
  color:white;
  padding: 2% 10%;
  font-size: 200%;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

button.submitB:hover {
  background-color: rgb(27, 95, 99);
  transform: scale(1.05);
}

button.closeB {
  background-color: rgb(192, 79, 79);
  border:none;
  color:white;
  padding: 2% 10%;
  font-size: 200%;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

button.closeB:hover {
  background-color: rgb(157, 54, 54);
  transform: scale(1.05);
}

h2 {
  font-family: Tahoma, sans-serif;
}

.checkButtons {
    display : flex; 
    justify-content: center;
}

h3 {
  white-space: pre-line;
}

li {
  white-space: pre-line;
}

.welcome {
  text-align: center;
  margin-top: 16px;

}

.points {
  text-align: left;
  font-family: Tahoma, sans-serif;

}

button.topB {
  border:none;
  color:white;
  padding: 1% 1.5%;
  font-size: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.cu {
  background-color: rgb(67, 111, 147);
}

.logout {
  background-color: rgb(190, 62, 62);
}

.groups {
  background-color: rgba(109, 184, 79, 0.763);
}

.form {
  text-align: center;
}

.params {
  display: flex;
  gap: 10%;
}

.goalarea {
  resize:none;
  width: 60%;
  height: 25px;
  font-size: 20px;
  padding:10px;
  border: 1px solid rgb(182, 209, 159);
  border-radius: 5px;
  background-color: rgb(219, 231, 201);
}

.goalarea:focus {
  border: 1px solid rgb(113, 183, 113);
  border-radius: 5px;

}
