.fullpage {
  background-image: url(viewselect.png);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  position:relative;
  margin:0;
}

.fullpage::before {
  content:'';
  position:absolute;
  inset:0;
  background: rgba(0, 0, 0, 0.26);
}
.fullpage > .content {
  position: relative;
}

.modal {
  background-color: rgb(185, 236, 227);
  margin: 2% auto;
  padding: 30px;
  border: 8px solid rgba(13, 82, 72, 0.411);
  width: 40%;
  cursor: auto;
  border-radius: 22px;
  align-items: center;
  z-index: 10000;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.103);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:10;
}

button.submitB {
  background-color: rgb(34, 124, 128);
  border:none;
  color:white;
  padding: 2% 10%;
  font-size: 200%;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

button.submitB:hover {
  background-color: rgb(27, 95, 99);
  transform: scale(1.05);
}

button.closeB {
  background-color: rgb(192, 79, 79);
  border:none;
  color:white;
  padding: 2% 10%;
  font-size: 200%;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

button.closeB:hover {
  background-color: rgb(157, 54, 54);
  transform: scale(1.05);
}

h2 {
  font-family: Tahoma, sans-serif;
}

.checkButtons {
    display : flex; 
    justify-content: center;
}

h3 {
  white-space: pre-line;
  color: #3f3f2d;
}

li {
  white-space: pre-line;
}

.welcome {
  text-align: center;
  margin-top: 16px;

}

.points {
  text-align: left;
  font-family: Tahoma, sans-serif;

}

button.topB {
  border:none;
  color:white;
  padding: 1% 1.5%;
  font-size: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.cu {
  background-color: rgb(67, 111, 147);
}

.logout {
  background-color: rgb(190, 62, 62);
}

.groups {
  background-color: rgba(109, 184, 79, 0.763);
}

.form {
  text-align: center;
}

.params {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form label {
  font-size: 20px
}
.goalarea {
  resize:none;
  width: 60%;
  height: 25px;
  font-size: 20px;
  padding:10px;
  border: 1px solid rgb(182, 209, 159);
  border-radius: 5px;
  background-color: rgb(219, 231, 201);
  margin: 0 auto;
}

.goalarea:focus {
  border: 2px solid rgb(113, 183, 113);
  border-radius: 5px;
  outline:none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width:18%;
  margin: 0 auto;
}

.dropdown select{
  border: 3px solid rgb(219, 219, 219);
  border-radius: 16px;
  font-size: 20px;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #41413e;
  text-align: center;
  transition: border 500ms ease
}

.dropdown select:focus{
  border: 3px solid rgb(180, 180, 180);
  border-radius: 16px;
  font-size: 20px;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #41413e;
  outline:none
}

.dropdown label{
  font-family: Tahoma, sans-serif;
  font-size: 15px;
}

.goalset {
  display:flex;
  flex-direction: column;
  background-color: rgba(116, 211, 124, 0.808);
  border-radius: 20px;
  padding:20px;
  gap:12px;
}

input[type="date"] {
  appearance: none;
  border: 3px solid rgb(255, 130, 130);
  border-radius: 10px;
  text-align: center;
  background-color: rgb(236, 236, 236);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(63, 63, 63);
  padding: 5px;
  margin-right: 50px;
}

input[type="date"]:focus {
  outline:none;
  border: 3px solid rgb(194, 103, 103);
}

.dates {
  display:flex;
  flex-direction:row;
  margin: 0 auto;
  gap: 5%
}

.goalsetb {
  background-color: rgb(98, 170, 85);
  border:none;
  padding: 30px 80px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  transition: background-color 0.5s ease, transform 0.5s ease;
  
}

.goalsetb:hover {
  background-color: rgb(134, 206, 112);
  transform: scale(1.1);
}

.goalist {
  display: flex;
  flex-direction: row;
  padding: 30px;
  gap: 10%;
  justify-content: space-evenly;
}

.progressfull {
  background-color: rgba(129, 190, 247, 0.699);
  text-align: center;
  border-radius: 15px;
  padding: 25px;
  z-index: -1;
}

li {  border-radius: 10px;
  padding: 5px;
  padding-left: 0px;
  margin: 10px;
  list-style-type: none;
  transition: background-color 0.5s ease, transform 0.5s ease;

}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}



.currentg {
  background-color: #bcc6f3;
  border-radius: 10px;
  padding: 15px;
  width: 25%;
}

.upcoming {
  background-color: rgb(238, 138, 138);
  width: 25%;
  padding: 15px;
  border-radius: 10px;
}

.completed {
  background-color: rgb(157, 230, 157);
  width: 25%;
  padding: 15px;
  border-radius: 10px;
}

.deletebut {
  background-color: rgb(204, 204, 204);
  font-size: 15px;
  padding: 10px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.116);


}

.deletebut:hover {
  background-color: #b8b4b4;

}

.curitem {
  background-color: #a9b1d89c;
  border-radius: 200px;
  padding: 10px;
  margin:15px;
}

.progress-bar {
  width: 100%;
  height: 15px;
  overflow:hidden;
  background: rgb(180, 180, 180);
  align-content: center;
}

.progress-fill {
  height: 100%;
  background: rgba(129, 105, 219, 0.952);
  border-radius: 5px;
  transition: width 400ms ease;
}

.totalgoals {
  margin-bottom: px;
}

.viewselect{
  border: 2px solid rgb(231, 231, 231);
  border-radius: 12px;
  font-size: 15px;
  padding: 7px 7px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b7e73;
  text-align: center;
  width: 40%;
  transition: border 500ms ease
}

.viewselect:focus{
  border: 2px solid rgb(133, 133, 133);
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  outline:none
}

.completebut {
  background-color: rgb(212, 245, 202);
  font-size: 15px;
  padding: 10px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.116);
  outline:none;
  margin: 10px;
}

.completebut:hover {
  background-color: #a8e68c;
}

.failbut {
  background-color: rgb(253, 181, 181);
  font-size: 15px;
  padding: 10px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.116);
  outline:none;
  margin: 10px;
}

.upcomingtask {
  background-color: rgb(248, 103, 103);
  font-size: 20px;
  margin:20px;
  border-radius: 5px;
}

.task {
  font-size:15px
}

.failbut:hover {
  background-color: #fa776da8;
}

.completedgoal {
  background-color: #8ad865;
  font-size: 18px;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
}

.clearbut {
  background-color: rgb(237, 245, 166);
  font-size: 15px;
  padding: 10px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.116);
  outline:none;
  margin: 10px;

}

.clearbut:hover {
  background-color: rgb(197, 209, 84);
}

.sharebut {
  background-color: rgb(168, 209, 206);
  font-size: 15px;
  padding: 10px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.116);
  outline:none;
  margin: 10px;
}

.newusername {
  resize:none;
  width: 60%;
  height: 15px;
  font-size: 20px;
  padding:10px;
  border: 2px solid rgb(134, 221, 224);
  border-radius: 5px;
  background-color: rgba(171, 216, 197, 0.459);
  margin: 10px;
}

.newusername:focus {
  border: 3px solid rgb(134, 221, 224);
  background-color: rgba(148, 187, 171, 0.459);
  outline:none;
}

.sharebut:hover {
  background-color: rgb(130, 184, 180);
}


p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


